{% load humanize %}
{% load url from future %}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no" />

    <title>{% block title %}Party Sense{% endblock %}</title>
    {% block fb %}
        <meta property="fb:app_id"          content="386541278102635" />
        <meta property="og:url"             content="http://partysen.se" />
        <meta property="og:type"            content="website" />
        <meta property="og:site_name"       content="partysen.se" />
        {# The title of the object as it should appear in the graph#}
        <meta property="og:title"           content="Partysense" />
        <meta property="og:description"     content="The best way to make sure you have a great night out!" />
        <meta property="og:image"           content="{% static "images/fblink.png" %}" />
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" media="screen"/>
    <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap-theme.min.css" %}" media="screen"/>

    {% compress css %}
        <link rel="stylesheet" href="{% static "style.css" %}" />

        <style>
            {% block style %}
            {% endblock %}
        </style>
    {% endcompress %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <nav align='center' class="navbar navbar-fixed-top container navbar-inner center" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="navbar-profile-dropdown">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img id="logo" src="{% static "images/logo.png" %}" alt="Party Sense"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-profile-dropdown">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="{% url "club-landing" %}">Clubs</a></li>
                <li><a href="{% url "profile" %}">Your Playlists</a></li>
                {% if not user.is_authenticated %}
                <li class="dropdown">
                    <a rel="nofollow" href="{% url "auth:password_login" %}" id="logindropdown"
                       class="regularActive">
                       Login <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu hidden-phone">
                        <li>
                            <a rel="nofollow"
                               href="{% url "social:begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
                               >
                                <div id="facebook_button">facebook</div> &nbsp;
                            </a>
                        </li>
                        <li>
                            <a href="{% url "auth:password_login" %}"> <i class="icon-user"></i> Password</a>
                        </li>
                    </ul>
                </li>
          {% else %}
                <li class="dropdown">
                    <a href="{% url "profile" %}">
                        {{ user.first_name|default:"Profile" }}
                    </a>
                    <!-- Drop down for nav bar -->
                    <ul class="dropdown-menu">
                        <li><a class="" href="{% url "profile" %}">
                            <i class="glyphicon glyphicon-user"></i> Profile</a></li>
                        <li><a href="{% url "auth_logout" %}" class="">
                            <i class="glyphicon glyphicon-remove"></i> Logout</a></li>
                    </ul>
                </li>
          {% endif %}
            </ul>
        </div>
    </nav>

    <div class="wrap">
        <div class="row">
            <div id="content" class="container">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% block content %}{% endblock %}
            
            </div>
        </div>
    </div>

    <footer class="footer">
        <p><a href="/privacy/">Privacy Policy</a>. Made in New Zealand by PartySense Ltd. © 2013</p>
        <p class="pull-right"><a href="#top">Back to top</a></p>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>

    {% block jslibs %}

    {% endblock %}
    {% compress js %}
        <script>
            var csrftoken = $.cookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                crossDomain: true, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>

        <script src="{% static "js/util.js" %}"></script>

    {% endcompress %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40839567-1', 'partysen.se');
      ga('send', 'pageview');

    </script>
    <script>
	$(function () {
        // Provide the drop down for the profile button
		$('nav li ul').hide().removeClass('fallback');
		$('nav li').hover(function () {
			$('ul', this).stop().slideToggle(200);
		});
	});
	</script>

</body>
<div id="fb-root"></div>
</html>
