{% load humanize %}
{% load url from future %}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no" />

    <title>{% block title %}Party Sense{% endblock %}</title>
    {% block fb %}
        <meta property="fb:app_id"          content="386541278102635" />
        <meta property="og:url"             content="http://partysen.se" />
        <meta property="og:type"            content="website" />
        <meta property="og:site_name"       content="partysen.se" />
        {# The title of the object as it should appear in the graph#}
        <meta property="og:title"           content="Partysense" />
        <meta property="og:description"     content="The best way to make sure you have a great night out!" />
        <meta property="og:image"           content="{% static "images/fblink.png" %}" />
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
    {% compress css %}
        <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" media="screen"/>
        <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap-theme.min.css" %}" media="screen"/>
        <link rel="stylesheet" href="{% static "style.css" %}" />

        <style>
            {% block style %}
            {% endblock %}
        </style>
    {% endcompress %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-fixed-top  container navbar-inner" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
	<a class="navbar-brand" href="/">
		<img id="logo" src="{% static "images/logo.png" %}" alt="Party Sense"/>
	</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="{% url "clubs" %}">Clubs</a></li>
	  <li><a href="{% url "profile" %}">Playlist</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
		{% if not user.is_authenticated %}
			<div style="margin-top:20px;margin-left:15px;">
				<a rel="nofollow" href="{% url "socialauth_begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
					<div id="facebook_button">Login</div>
				</a>
			</div>
		{% else %}
			<li class="dropdown">
				<a href="{% url "profile" %}" class="dropdown-toggle" >{{ user.first_name }}<b class="caret" style="color:white"></b></a>
				<ul class="dropdown-menu">
				  <li><a class="" href="{% url "profile" %}"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
				<li><a href="{% url "logout" %}" class=""><i class="glyphicon glyphicon-remove"></i> Logout</a></li>
				</ul>
			  </li>
			  
		{% endif %}
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
    <!--<header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="/">
                    <img id="logo" src="{% static "images/logo.png" %}" alt="Party Sense"/>
                </a>
                <nav class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="regularActive" href="/"><h4 class="nav-pill">Home</h4></a></li>
                        <li><a class="regularActive" href="{% url "clubs" %}"><h4 class="nav-pill">Clubs</h4></a></li>
                        <li><a class="regularActive" href="{% url "profile" %}"><h4 class="nav-pill">Playlists</h4></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li>
							<a rel="nofollow" href="{% url "socialauth_begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
								<div id="facebook_button">Login</div>
                            </a>
                        </li>
                    {% else %}
                        <li>
						
							<a class="regularActive" href="{% url "profile" %}">
                                <h4 class="nav-pill">{{ user.first_name }} <span class="glyphicon glyphicon-chevron-down"/></h4>
                            </a>
                            <!-- Drop down for nav bar -
                            <ul class="fallback hidden-phone">
                                <li><a class="" href="{% url "profile" %}"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                                <li><a href="{% url "logout" %}" class=""><i class="glyphicon glyphicon-remove"></i> Logout</a></li>
                            </ul>

                        </li>
                    {% endif %}

                    </ul>
                </nav>

            </div>
        </div>
    </header>-->
    <div class="wrap">
        <div class="row">
            <div id="content" class="container">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="footer">
        <p><a href="/privacy/">Privacy Policy</a>. Made in New Zealand by PartySense Ltd. © 2013</p>
        <p class="pull-right"><a href="#top">Back to top</a></p>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
    {% compress js %}
    <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
    {% endcompress %}

    {% block jslibs %}

    {% endblock %}
    {% compress js %}
        <script>
            var csrftoken = $.cookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                crossDomain: true, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>

        <script src="{% static "js/util.js" %}"></script>

    {% endcompress %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40839567-1', 'partysen.se');
      ga('send', 'pageview');

    </script>
    <script>
	$(function () {
        // Provide the drop down for the profile button
		$('nav li ul').hide().removeClass('fallback');
		$('nav li').hover(function () {
			$('ul', this).stop().slideToggle(200);
		});
	});
	</script>

</body>
<div id="fb-root"></div>
</html>
