{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% load staticfiles %}

{% block style %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <div>
                    <h1>PartySense</h1>
                    <p class="lead"> the best way to make sure you have a great night out.</p>
                    <img src="{% static "images/phones.png" %}" alt="Coming to your platform soon!"/>
                </div>
            </div>
        </div>

        <div id="quick-start">
            <div class="col-md-8">
                <section id="dj-quick-start" class="">
                    <h2>How it works</h2>
                    <h1>Club Owners</h1>

                    <ol>
                        <li>
                            <h3>Register</h3>
                            <p>Membership is free, we just need to know a few details.</p>
                        </li>
                        <li>
                            <h3>Create targeted Offers</h3>
                            <p>Leverage our detailed analytics to get to know your audience!</p>
                        </li>
                    </ol>
                    {% if user.is_authenticated %}
                        <form action="{% url "event.views.create" %}">
                            <button>Host your next event now!</button>
                        </form>
                    {% else %}
                        <form action="{% url "dj.views.register" %}">
                            <button>Register now!</button>
                        </form>
                    {% endif %}

                </section>
            </div>
        </div>

    </div>

{% endblock %}

{% block jslibs %}
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=386541278102635";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}