<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCjOEItJV2ny3PQzAB6jeoQztOHvqBnQ_I&sensor=false">
</script>

<script type="text/javascript">
    var geocoder = new google.maps.Geocoder();

    var base_point = new google.maps.LatLng({{ base_point }});

    var map, my_point, center;

    $(document).ready(function(){
        if($('#id_latitude').val()!=''){
            console.log("Center is: " + center);
            center = new google.maps.LatLng($('#id_latitude').val(), $('#id_longitude').val());
        }else{
            center = base_point;
        }

        var myOptions = {
            zoom: 15,
            center: center,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        google.maps.visualRefresh = true;
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        /* Try to center the map on user's city. */
        geocoder.geocode( { 'address': "{{ country_city }}" }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                base_point = results[0].geometry.location;

                if($('#id_latitude').val() == '')
                {
                    // force move
                    set_center(base_point.lat(), base_point.lng())
                }
            }
        });



        console.log("Adding map");
        $('#id_address').keydown(function (event) {
            var keypressed = event.keyCode || event.which;
            if (keypressed == 13) {
                codeAddress();
                return false;
            }
            return true;
        });

        // If we are editing the form the id_venue will be set by the server
        $('#id_address').val($('#id_venue').val());

        $('#id_address').change(function(){
            $('#id_venue').val($('#id_address').val());
        });




        my_point = new google.maps.Marker({
            position: center,
            map: map,
            draggable: true
        });

        google.maps.event.addListener(my_point, 'dragend', function(event){
            $('#id_latitude').val(event.latLng.lat());
            $('#id_longitude').val(event.latLng.lng());
        });

        var input = document.getElementById('id_address');
        var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(center.lat()-10, center.lng()-10),
          new google.maps.LatLng(center.lat()+10, center.lng()+10));

        var options = {
            bounds: defaultBounds
        };

        autocomplete = new google.maps.places.Autocomplete(input, options);

    });

    function codeAddress(){
        var address = $('#id_address').val();
        //console.log("Asking google where to find: " + address);
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var results_len = results.length;

                var results_table = new Array();
                //console.log("Found " + results_len + " results!");
                for(i=0; i<results_len; i++){
                    var address_location = results[i].geometry.location

                    if(i === 0){
                        console.log("Found address: " + address_location);
                        //map.setCenter(address_location);
                        set_center(address_location.lat(), address_location.lng())
                    } else {
                        // Display the results as a basic list
                        results_table[i] = '<div style="cursor: pointer" onclick="set_center(' +
                            address_location.lat() + ', ' +
                            address_location.lng() + ')">' +
                            results[i].formatted_address +
                            '</div>';
                        }
                }
                $('#search_results').html(results_table.join(''));
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }

    function set_center(lat, lng){
        var latlng = new google.maps.LatLng(lat, lng);
        my_point.setPosition(latlng);
        map.setCenter(latlng);
        // Save this as our location
        $('#id_latitude').val(lat);
        $('#id_longitude').val(lng);
    }

</script>
<div>

    <div class="address_input input-group">
        <label for="id_address" class="control-label">Event Venue</label>
        <input id="id_address" type="text" value="" class="textinput textInput form-control" placeholder="Address" />

        <span class="input-group-btn">
            <input type="button" class="btn btn-default" value="Find" onclick="codeAddress()" />
        </span>
        <br style="clear: both;" />
        <div id="search_results">
        </div>

    </div>
    <p style="margin: 15px;"></p>
    <div id="map_canvas" style="width: 100%; height: {{ height }}px; margin-bottom: 20px;"></div>
</div>