<div ng-controller="SetlistCtrl">
    <div class="" id="musicImporter" droppable>
        <div class="header">
            <h3>Party Playlist <small ng-show="loggedIn">Vote on the current set list</small></h3>
        </div>

        <div id="event-tracks">
            <div ng-show="setlist.length === 0">
                    <div class="progress">
                        <div class="bar" ng-style="{width: '35%'}"></div>
                    </div>

                <p ng-show="numberOfTracks == 0">It looks like this event doesn't have any tracks yet. Why not get the ball rolling and add some?</p>
                <p ng-show="numberOfTracks > 0">Loading {{ numberOfTracks }} tracks</p>

            </div>
            <div class="row trackDiv"
                 ng-repeat="track in setlist"
                 back-img="{{ track.coverURL }}">

                <div class="col-md-2 voteButtonDiv" ng-show="loggedIn">
                    <button id="vote-up-{{ track.pk }}"
                            ng-class="{'voted': track.usersVote === true }"
                            ng-click="vote(track, true)">
                        <i class="glyphicon glyphicon-thumbs-up"></i>
                    </button>
                    <button id="vote-down-{{ track.pk }}"
                            ng-class="{'voted': track.usersVote === false }"
                            ng-click="vote(track, false)">
                    <i class="glyphicon glyphicon-thumbs-down"></i>
                    </button>
                    <button class="muted"
                          ng-show="track.removable"
                          ng-click="removeTrack(track);">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>

                <div class="track-info" ng-class="infoWidth">
                    <h4 class="track-name">{{ track.name }}</h4>
                    <p class="track-artist"
                       ng-click="(loggedIn) ? searchArtistFromTrack(track) : ''">{{ track.artist }}</p>
                    <span class="muted track-votes">
                        <ng-pluralize count="track.upVotes + track.downVotes"
                            when="{'0': 'Nobody has',
                                   '1': '1 person has',
                                   'other': '{} people have'}">
                        </ng-pluralize> voted.
                    </span>
                    <div class="">
                        <em class="track-genre">{{ track.tag }}</em>
                    </div>

                    <div class="trackOffer">
                        <a href="#" ng-hide="track.offer" ng-click="showTrackPurchase(track)"
                            style="float:right;" ng-animate="{hide: 'slide-off-left'}">

                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                <span ng-hide="track.offer">Download</span>
                                <span ng-show="track.offer">Searching amazon...</span>

                        </a>

                        <div ng-show="track.offer.price" >
                            <a target="_blank" href="{{ track.offer.url }}">
                               <i class="glyphicon glyphicon-shopping-cart"></i> Buy now from Amazon {{ track.offer.price }}
                            </a>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>