<div ng-controller="SetlistCtrl">
    <div class="">
        <div class="header">
            <h3>Party Playlist <small>Vote on the current set list</small></h3>
        </div>

        <div id="event-tracks">
            <div  ng-show="setlist.length === 0">
                <p>It looks like this event doesn't have any tracks yet. Why not get the ball rolling and add some?</p>
            </div>
            <div class="row-fluid trackDiv" ng-repeat="track in setlist">
                <div class="span2 voteButtonDiv">
                    <button id="vote-up-{{ track.pk }}"
                            ng-class="{'voted': track.usersVote === true }"
                            ng-click="vote(track, true)">
                        <!--↑-->
                        <i class="icon-thumbs-up"></i>
                    </button>
                    <button id="vote-down-{{ track.pk }}"
                            ng-class="{'voted': track.usersVote === false }"
                            ng-click="vote(track, false)">
                        <!--↓-->
                    <i class="icon-thumbs-down"></i>
                    </button>
                </div>

                <div class="span7 track-info">
                    <h5 class="track-name">{{ track.name }}</h5>
                    <p class="track-artist">{{ track.artist }}</p>
                    <span class="muted track-votes">
                        <ng-pluralize count="track.upVotes + track.downVotes"
                            when="{'0': 'Nobody has',
                                   '1': '1 person has',
                                   'other': '{} people have'}">
                        </ng-pluralize> voted.
                    </span>
                </div>
                <div class="span1">
                    <em class="track-genre pull-right">{{ track.tag }}</em>
                </div>
                <div class="span2">
                    <img class="lastfmCover" id="lastfm0" src="{{ track.coverURL }}">
                </div>
            </div>
        </div>
    </div>
</div>