{% extends "base.html" %}

<title>User Details</title>

{% block content %}
{% if user.is_authenticated %}

    <div class="row">
    <section class="col-sm-4" style="margin-top: 10px" >
        <h3>Account info:</h3>
        {% if user.is_staff %}
            <a class="btn btn-block btn-danger" href="/admin/">Admin</a>
        {% endif %}
        <table class="table">
            <tr class="hide"><th>Id:</th> <td>{{ user.id }}</td></tr>
            <tr><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
            <tr><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
            <tr><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
        </table>

    {% if img %}
        <div><img src="{{ img.url }}"></div>
    {% endif %}

    {% if backends.associated %}
        <p>
            <a href="{% url "logout" %}" class="btn btn-block btn-primary panel-heading accordion-heading ">Logout</a>
        </p>
        <div class="hide">
        <h3>Disconnect</h3>
        <p class="alert">This will remove the connection to your facebook account entirely.</p>

        {% for type, accounts in social_auth.associated.items %}
            {% for account in accounts %}

              <span class="disconnect">
                <form action="{% url "social:disconnect_individual" account.provider account.id %}" method="post">
                    {% csrf_token %}
                    <a href="#">{{ account.provider|title }} ({{ user.username }})</a>
                </form>
              </span>

            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}
    <hr>
    <p>
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <button class="btn btn-block btn-primary panel-heading accordion-heading">
            Upcoming Events
          </button>
        </a>
    </p>
    <p>
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			  <button class="btn btn-block btn-primary panel-heading accordion-heading">
				Recent Events
			  </button>
			</a>
    </p>
    <p>
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			  <button class="btn btn-block btn-primary panel-heading accordion-heading">
				Your DJs
			  </button>
			</a>
    </p>
    </section>

    <div class="col-sm-8">
    <div class="panel-group" id="accordion">
		  <div class="panel panel-default  accordian-panel" style="margin-top: 10px">
			<div id="collapseOne" class="panel-collapse collapse in">
			  <div class="panel-body">
                <h3>Upcoming</h3>
                <ul>
                {% for e in upcoming_events %}
                    <li>{{ e.dj }}'s <a href="{% url "event-detail" e.pk e.slug %}">{{e.title}}</a> at {{ e.location.name }}</li>
                {% endfor %}
                </ul>
                <form action="{% url "event.views.create" %}">
                    <button class="btn btn-primary btn-block">Host your next event now!</button>
                </form>
			  </div>
			</div>
		  </div>


		  <div class="panel panel-default  accordian-panel">
			<div id="collapseTwo" class="panel-collapse collapse">
			  <div class="panel-body">
                    <h3>Recent</h3>
                    {% if past_events %}
                        <ul>
                        {% for e in past_events %}
                             <li><a href="{% url "event-detail" e.pk e.slug %}">{{ e.title }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
			  </div>
			</div>
		  </div>

		  <div class="panel panel-default accordian-panel">

			<div id="collapseThree" class="panel-collapse collapse">
			  <div class="panel-body">
                <h3>Your DJ's:</h3>
                {% if djs %}
                <ul>
                {% for dj in djs %}
                    <li><a href="/dj/{{ dj.pk }}/{{ dj.nickname|slugify }}">{{dj.nickname}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
			  </div>
			</div>
		  </div>
		</div>
    </div>



{# TODO   if clubs ...#}
</div>
{% else %}

    <div class="alert alert-warning">
        <h3>Opps, this won't take a second</h3>
        <p>The action you have requested requires you to be logged in! You can login using:</p>
        <ul>
            {% for name in backends.backends %}
                <li><a class="alert-link" rel="nofollow" href="{% url "social:begin" name %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">{{ name|title }}</a></li>
            {% endfor %}
            <li><a class="alert-link" href="{% url "password_login" %}">Password</a></li>
        </ul>
    </div>
{% endif %}
{% endblock %}