{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% load staticfiles %}
{% block content %}


<div class="span12">
    <div class="alert alert-block">
        <h3> <i class="icon-warning-sign"></i> This page is a work in progress!</h3>
        <p>Let us know what features you want to see next by commenting on our
            <a href="https://www.facebook.com/partysenseapp">facebook page</a></p>
    </div>
</div>

<section>

    <h1>{{ club.name }}</h1>
    <p>{{ club.description }}</p>
    <ul>
        <li><a href="{{club.website}}">{{club.website}}</a></li>
        <li><a href="{{club.facebook_page}}">Facebook</a></li>
    </ul>

    <h4>Club Administrators</h4>
    <ul>
    {% for u in club.admins.all %}
        <li>{{ u }}</li>
    {% endfor %}
    </ul>

    <div class="">
        <form action="/event/new">
            <button class="btn btn-large btn-primary">Create a new event?</button>
        </form>
    </div>


</section>
{% endblock %}

{% block jslibs %}


{% endblock %}