{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% block content %}

    <section class="col-md-10">
    <h2>First we need a couple of details about you!</h2>
    <div class="progress">
      <div class="bar" style="width: 33%;"></div>
    </div>

    <form method="post" action="" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% include "form_snippet.html" %}
        <input type="submit" value="Register and create your first event!" />
    </form>
    </section>
{% endblock %}