<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>PartySense</title>
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">

  <script src="/scripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
<div id="container">
    <div id="header" class="row">
        <div id="logo" class="eight columns"></div>
        <div id="nav" class="four column">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <!--<a href="/blog">Blog</a>-->
        </div>
    </div>
    <div id="page" class="row">
        <div id="main" class="nine columns">
            <h3>About PartySense</h3>
            <p class="message">PartySense is an early-stage mobile startup for the nightlife industry. We're building smart mobile and web-based systems that help you have a better night out.</p>
            <h3>Team</h3>
            <p class="message">The PartySense team consists of Tanmay Bhola, Devatanu Deka, Robert King and Mark Wilcox.</p>
        </div>
        
	</div>
    <div class="row">
    	<div id="footer" class="twelve columns">&copy; 2012 PartySense Ltd. Made in New Zealand.</footer>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/scripts/jquery-1.7.1.min.js"><\/script>')</script>

<script src="/scripts/plugins.js"></script>
<script src="/scripts/script.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33233735-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
  
  <!-- Included JS Files (Compressed) -->
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="/scripts/app.js"></script>

  
    <script>
    $(window).load(function(){
      $("#featured").orbit();
    });
    </script> 
  
</body>
</html>
