{% extends "base.html" %}

{% block content %}
<h1>Admin Options</h1>

<ul>
    <li>
        <a href="/admin/browse-data-model">Browse DataModel</a>
    </li>
    <li>
        <a href="/admin/import-clubs">import Clubs CSV</a>
         (export csv from <a href="https://docs.google.com/spreadsheet/ccc?key=0AnVAtYqsKXiudFU5eTNnX2FGY04tdURvWHUwWHkwQUE#gid=0">here</a>)
    </li>
    <li>
        <a href="/api/clubs-delta/year/2010/month/3/day/25">Clubs Delta Json</a> e.g. /api/clubs-delta/year/2010/month/3/day/25 returns anything modified >= 2010-3-25
    </li>
    <li>
        <a href="/admin/image-manager">Image Manager</a>
    </li>
</ul>
<br/>

{% endblock %}