{% extends "base.html" %}

{% block content %}
<h1>Admin Options</h1>

<ul>
    <li>
        <a href="/admin/browse-data-model">Browse DataModel</a>
    </li>
    <li>
        <a href="/admin/import-clubs">import Clubs CSV</a>
         (export csv from <a href="https://docs.google.com/spreadsheet/ccc?key=0AnVAtYqsKXiudFU5eTNnX2FGY04tdURvWHUwWHkwQUE#gid=0">here</a>)
    </li>
    <li>
        <a href="/api/clubs-dump">Clubs Json Dump</a>
    </li>
</ul>
<br/>
<h3>deprecated:</h3>
<ul>
    <li>
        <a href="/admin/edit-kind/Club">edit Club</a>
    </li>
    <li>
        <a href="/admin/edit-kind/User">edit User</a>
    </li>
    <li>
        <a href="/admin/edit-kind/Tag">edit Tag</a>
    </li>
    <li>
        <a href="/api/all/Club">Clubs api</a>
    </li>
    <li>
        <a href="/api/all/User">Users api</a>
    </li>
    <li>
        <a href="/api/all/Tag">Tags api</a>
    </li>
</ul>

{% endblock %}