
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PartySense</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/home_style.css">

    <script src="/scripts/modernizr-2.5.3.min.js"></script>
</head>
<body>
<div id="container">
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
        <div id="logo"><img src="/images/logo.png" /></div>
    </header>
    <div role="main">
        <p id="message">We're building the ultimate app for party-goers,<br />
            DJs and night club owners. <br />
            Register below to be notified of when we launch.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="http://venture-lab.us5.list-manage.com/subscribe/post?u=9bf0b9b3bd7575175e41d521e&amp;id=910cd63022" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <input type="email" value="enter email address" name="EMAIL" class="required email" id="mce-EMAIL">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
                <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
        </div>

        <!--End mc_embed_signup-->
        <img src="/images/phones.png" id="phones" />
    </div>
    <footer>
    </footer>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/scripts/jquery-1.7.1.min.js"><\/script>')</script>

<script src="/scripts/plugins.js"></script>
<script src="/scripts/script.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33233735-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>