<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>PartySense</title>
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">

  <script src="/scripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
<div id="container">
    <div id="header" class="row">
        <div id="logo" class="eight columns"></div>
        <div id="nav" class="four column">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <!--<a href="/blog">Blog</a>-->
        </div>
    </div>
    <div id="page" class="row">
        <div id="main" class="five columns">
            <h3>Find clubs that match your style</h3>
            <p class="message">PartySense is the best way to make sure you have a great night out. Tell us your music preferences, or link your Spotify account, and we’ll tell you the best place to go.</p>
            <!-- <div id="download"><a href="http://play.google.com"><img src="images/playstore.png" /></a></div>  -->
            <!-- <h3>Don't have an Android phone?</h3> -->
            <p class="message">PartySense is currently in closed beta. Leave your email below to join the waiting list.</p>
            <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                <form action="http://appspot.us5.list-manage2.com/subscribe/post?u=9bf0b9b3bd7575175e41d521e&amp;id=49fbb75a5b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </form>
                </div>
            <!--End mc_embed_signup-->
        </div>
        <div id="phones" class="seven columns"></div>
        
	</div>
    <div class="row">
    	<div id="footer" class="twelve columns">&copy; 2012 PartySense Ltd. Made in New Zealand.</div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/scripts/jquery-1.7.1.min.js"><\/script>')</script>

<script src="/scripts/plugins.js"></script>
<script src="/scripts/script.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33233735-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
  
  <!-- Included JS Files (Compressed) -->
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="/scripts/app.js"></script>

  
    <script>
    $(window).load(function(){
      $("#featured").orbit();
    });
    </script> 
  
</body>
</html>
