/* app css stylesheet */

body {
    padding-top: 0px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

input {
    width: 140px;
}

select {
    width: 140px;
}

table:last-of-type thead {
    background: #1f0a3e;
    color: white;
    text-transform: capitalize;
}