<section ng-controller="EventStatsCtrl" >

    <div class="row">
        <div class="col-md-6">
            <strong>Filter tracks:</strong>
            <input class="form-control" ng-model="searchText">
        </div>
        <div class="col-md-4">
            <strong>Show more results?</strong>
            <input type="range" min="3" max="50" ng-model="numberOfResults">
        </div>

    </div>

    <div class="row">
        <article class="col-mid-12">
            <h3>Most up-voted tracks</h3>

            <table class="table">
                <thead>
                    <th></th>
                    <th><input type="checkbox"
                               ng-model="selectAll" ng-change="toggleAll()"/></th>
                    <th>Artist</th><th>Title</th><th>Votes</th>
                </thead>
                <tbody>
                    <tr class="recentTrack"
                        ng-repeat="track in popularTracks.slice(0, numberOfResults) | filter:searchText track by track.pk">
                        <td>{{ 1 + $index }}</td>
                        <td><input type="checkbox" ng-model="track.selected"/></td>
                        <td><strong class="white">{{track.artist}}</strong></td>
                        <td><span class="muted">{{track.name}}</span></td>
                        <td><span class="white">{{ track.upVotes - track.downVotes }}</span></td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="tracksSelected()">

                <div class="btn-group">
                    <a class="btn btn-default" target="_blank" ng-href="{{playInSpotify()}}">
                        Play with Spotify
                    </a>
                    <a class="btn btn-default" target="_blank" ng-click="buyOnAmazon()">Buy on amazon</a>
                    <a class="btn btn-default" ng-click="download()">Download as spreadsheet</a>
                </div>
            </div>

        </article>
    </div>

    <div class="row">
        <article class="col-md-6">
            <h3>Artists with the most tracks</h3>
            <div class="" ng-repeat="artist in artistsWithMostTracks.slice(0, numberOfResults) | filter:searchText">
                <i class="glyphicon glyphicon-chevron-right"></i>
                <span>
                    <strong class="white">{{artist.name}}</strong>
                    <span class="muted">featuring
                        <ng-pluralize count="artist.numberOfTracks"
                                      when="{'0': 'no upvoted tracks',
                                            'one': 'a track',
                                            'other': '{} tracks'}">
                        </ng-pluralize>
                    </span>
                </span>
            </div>
        </article>

        <article class="col-md-6">
            <h3>Most popular artist</h3>
            <div ng-repeat="artist in mostPopularArtists.slice(0, numberOfResults) | filter:searchText">
                <i class="glyphicon glyphicon-chevron-right"></i>
                <span>
                    <strong class="white">{{artist.name}}</strong>
                    <span class="muted">with {{artist.votes}} up votes</span>
                </span>
            </div>
        </article>
    </div>


</section>

