body {
    font-family: verdana;
    font-size: 13px;
    font-weight: normal;
}

#site-container
{
    background: #fff;
}

#content-container {
    padding-left: 30px;
}

#footer-container
{
    margin: 20px;
    text-align: right;
}

#navigation
{
    font-family: Verdana; 'Arbutus Slab', serif;
    font-size: 25px;
    /*    float: left; */
    width: 100%;
    background: #7CB4E0;
    height: 36px;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    line-height: 25px;
}

#navigation li a:hover { background: #61A5C3; }

/*
#navigation-container {
    background: gray;
}

.nav-page {
    font-family: 'Arbutus Slab', serif;
    font-size: 25px;
    display: inline-block;
    width: 150px;
    padding: 8px;
    text-align: center;
    border-right: 1px solid #ffffff;

}

.nav-page:hover {
    background: #38f;
}

.nav-page a {
    text-decoration: none;
    color: #fff;

} */


#top-bar {
    display: block;
    overflow: hidden;
    width: 100%;
}

#top-bar img {
    float: left;
    border: none;
}

#top-bar {
    display: block;
    text-decoration: none;
    color: black;
}

#top-bar h3 {
    margin-top: 50px;
    height: 40px;
    font-family: 'Arbutus Slab', serif;
    font-size: 50px;
    padding-left:400px;
}

