{% extends "base.html" %}

<title>User Details</title>

{% block content %}
{% if user.is_authenticated %}

    <p>Welcome {{ user.first_name|capfirst }}, thanks for logging in. This is your profile page, it
    will show your event history and lets you remove your account associations.</p>
    <p>Would you like to <a href="logout">logout</a>?</p>

    <div>
        <h3>User data:</h3>
        <table>
            <tr><th>Id:</th> <td>{{ user.id }}</td></tr>
            <tr><th>Username:</th> <td>{{ user.username }}</td></tr>
            <tr><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
            <tr><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
            <tr><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
        </table>

    {% if img %}
        <img src="{{ img.url }}">
    {% endif %}

    </div>



    {% if social_auth.associated %}
        <section>
            <h3>Disconnect accounts</h3>
            <ul>
                {% for type, accounts in social_auth.associated.items %}
                    {% for account in accounts %}
                        <li>
                          <span class="disconnect">
                            <form action="{% url "socialauth_disconnect_individual" account.provider account.id %}" method="post">
                                {% csrf_token %}
                                <a href="#">{{ account.provider|title }} (ID {{ account.id }})</a>
                            </form>
                          </span>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </section>
    {% endif %}

{% else %}

    <div>
        <h3>You can login using:</h3>
        <ul>
            {% for name in social_auth.backends.oauth2 %}
                <li><a rel="nofollow" href="{% url "socialauth_begin" name %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">{{ name|title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}