<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/wilson/Ahmed/Projects/PartySense/PartySenseAppiOS/PartySense/SoloComponents-iOS-11b2d4a0b6187f231aef2499e46ad5e97571263b/ATPagingView/ATPagingViewDemo/ATPagingViewDemo.xcodeproj</string>
</dict>
</plist>
