{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% block content %}

<section class="row">
    <div class="col-md-5">
        <h2>Login to manage your account</h2>
        <div class="">
        <form class="bootstrap3" method="post" action="" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
            {% include "form_snippet.html" %}

            <input class="btn btn-primary" type="submit" value="Login" />
            <div class="fieldWrapper">
                <a href="{% url "auth_password_reset" %}">Forgot your password?</a>
            </div>
        </form>


        </div>
    </div>

    <div class="col-md-6 col-md-offset-1">
        <h2>Don't have an account?</h2>
        <p>Not a problem, it doesn't take a minute, either</p>

        <a rel="nofollow" href="{% url "social:begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
            <div id="facebook_button">Log in with Facebook</div>
        </a>

        <a href="{% url "registration_register" %}"><button class="btn btn-primary">Register with an email/password now</button></a>

    </div>

</section>


{% endblock %}