{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% load staticfiles %}
{% block content %}

<div class="row-fluid" ng-app="Partysense">

    <div class="span2 leftSideBar">
        <div class="">
            <h4>{{ event.title }}</h4>
            <div class="event_details">
                <dl>
                    <dt>Where:</dt>
                        <dd>{{ event.location }}</dd>
                    <dt>Host:</dt>
                        <dd><a href="/dj/{{ event.dj.pk }}/{{ event.dj.nickname|slugify }}">{{event.dj.nickname}}</a></dd>
                </dl>
                <div id="map_canvas" style="width: 100%; height: 200px;"></div>
            </div>
        </div>

        <div ng-controller="RecentTracksTemplateCtrl">
            <div ng-include src="template"></div>
        </div>

    </div>

    <div class="span6 offset3">
        <div ng-controller="SpotifyTemplateCtrl">
            <div ng-include src="template"></div>
        </div>

        <div id="setlist">
            <div ng-controller="SetlistTemplateCtrl">
                <div ng-include src="template"></div>
            </div>
        </div>
    </div>


    <div class="offset9">
        <div ng-controller="PreviewTemplateCtrl">
            <div ng-include src="template"></div>
        </div>
     </div>

</div>
{% endblock %}

{% block jslibs %}
    <script>
        var ps = {
            event: {{ event.pk }},
            eventTitle: "{{ event.title }}",
            LAST_FM_API_KEY: "{{ LAST_FM_API_KEY }}",
            recentTracks: [
            {% for track in recent_tracks %}
                {
                    name: "{{ track.name|safe|escape }}",
                    artist: "{{ track.artist|safe|escape }}",
                    spotify_url: "{{ track.spotify_url|safe|escape }}"
                },
            {% endfor %}
            ]
        };


        var lastfm = "http://ws.audioscrobbler.com/2.0/?method=track.getInfo&api_key={{ LAST_FM_API_KEY }}&format=json";
    </script>
    <script src="{% static "js/angular-1.1.4/angular.min.js" %}"></script>
    <script src="{% static "js/angular-1.1.4/angular-resource.min.js" %}"></script>
    <script src="{% static "js/filters.js" %}"></script>
    <script src="{% static "js/services.js" %}"></script>
    <script src="{% static "js/partysense.js" %}"></script>
    {% if event.location.latitude and event.location.longitude %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjOEItJV2ny3PQzAB6jeoQztOHvqBnQ_I&sensor=false"></script>
    <script type="text/javascript">
    function initialize() {
        var loc = new google.maps.LatLng({{ event.location.latitude }}, {{ event.location.longitude }});

        var mapOptions = {
            center: loc,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true, // disable the overlay because we don't have room
            draggable: true
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var my_point = new google.maps.Marker({
            position: loc,
            map: map,
            draggable: false
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    {% endif %}
{% endblock %}