{% extends "base.html" %}
{% load cache %}
{% load humanize %}
{% load url from future %}
{% load staticfiles %}
{% load compress %}

{% block title %}{{ event.title }} | setlist on partysense{% endblock %}

{% block style %}

{% endblock %}

{% block fb %}
    {% cache 3600 facebookmeta event.pk %}
    <link rel="canonical" href="http://partysen.se{% url "event:detail" event.pk event.slug %}"/>
    <meta itemprop="name" content="Interactive playlist for {{ event.title }}">
    <meta itemprop="description" content="A collaborative music playlist/setlist. Tell {{ event.dj.nickname }} what you want on the setlist for {{ event.title }}! Partysense - the best way to make sure you have a great night out">

    <meta property="fb:app_id"          content="386541278102635" />
    <meta property="og:url"             content="http://partysen.se{% url "event:detail" event.pk event.slug %}" />
    <meta property="og:site_name"       content="partysen.se"/>
    <meta property="og:title"           content="Interactive setlist for {{ event.title }}" />
    <meta property="og:type"            content="article" />
    <meta property="og:description"     content="A collaborative music playlist/setlist. Tell {{ event.dj.nickname }} what you want on the setlist for {{ event.title }}! Partysense - the best way to make sure you have a great night out" />
    <meta property="og:image"           content="http://partysen.se{% static "images/fblink.png" %}" />
    {% endcache %}
{% endblock %}

{% block content %}

<div class="row" ng-app="Partysense" ng-controller="TemplateCtrl" style="margin-top: 5px">

{#{% cache 300 eventsidebar event.pk request.user.pk %}#}
    <div class="col-md-3 col-sm-4">
      {% if user_can_edit %}
          <div class="panel panel-default accordian-panel">
              <a class="btn btn-block btn-primary btn-lg"
                 href="{% url "event:stats" event.pk event.slug %}">
                  <i class="glyphicon glyphicon-signal"></i> Event Analytics
              </a>
          </div>
      {% endif %}
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default accordian-panel">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#details">
			  <button class="panel-heading accordion-heading btn btn-block btn-primary">
				Event Details
			  </button>
			</a>
			<div id="details" class="panel-collapse collapse in">
			  <div class="panel-body" itemprop="event" itemscope itemtype="http://schema.org/MusicEvent">
			  <h4 id="event-name" itemprop="name">
                  {{ event.title }}
                {% if user_can_edit %}
                    <a class="btn btn-warning"
                       href="{% url "event:update" event.pk event.slug %}">
                        <i class="glyphicon glyphicon-edit"></i> edit
                    </a>
                {% endif %}
              </h4>

                <dl>
                    <dt>Host: {% if user_can_edit %} <em>(you)</em>{% endif %}</dt>
                  {% cache 60 eventdetails event.pk %}
                  {% for dj in event.djs.all %}
                    <dd>
                        {% if dj.url  %}
                            <a href="{{ dj.url }}">
                                {{ dj.nickname }}
                            </a>
                        {% else %}
                            {{ dj.nickname }}
                        {% endif %}

                        (<span>
                            <a href="#"
                               data-toggle="modal" data-target="#myDjModal{{ dj.pk }}"
                               id="dropdownOtherEvents">other events</a>)
                        </span>

                        <!-- Modal -->
                        <div class="modal fade" id="myDjModal{{ dj.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">{{ dj.nickname }}'s Upcoming Events</h4>
                              </div>
                              <div class="modal-body">
                              {% if dj.get_upcoming_events.count > 1 %}

                                <ul>
                                    {% for evt in dj.get_upcoming_events %}
                                        {% if evt != event %}
                                        <li>
                                            <a href="{{ evt.get_absolute_url }}">
                                              {{ evt }} at {{ evt.location.name }}
                                            </a>
                                        </li>
                                        {% endif %}

                                    {% endfor %}
                                </ul>

                              {% else %}
                                  <h1>Sorry</h1>
                                  <h2>Looks like this DJ doesn't have any upcoming public events.</h2>
                              {% endif %}

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->



                    </dd>
                   {% endfor %}
                    <dt>When:</dt>
                    <dd itemprop="startDate">{{ event.start_time }}</dd>
                    <dt>Venue:</dt>
                    <dd itemprop="location">{{ event.location }}</dd>
                  {% endcache %}
                </dl>
                <div class="hidden-xs" id="map_canvas" style="width: 100%; height: 200px;"></div>
			  </div>
			</div>
		  </div>
        <div class="panel panel-default accordian-panel">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#share">
                <button class="pannel-heading accordion-heading btn btn-block btn-primary">
                    Share
                </button>
            </a>
            <div id="share" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-facebook"></i>
                            <a id="fb_share" href="#" class="">
                                 Post on your Facebook timeline
                             </a>
                        </li>

                        {% if event.fb_event_id %}

                        <li>
                            <i class="fa-li fa fa-calendar"></i>
                            <a id="fb_event_share" href="#" class="">
                                 Share on Facebook event page
                             </a>
                        </li>
                        {% endif %}

                        <li>
                            <i class="fa-li fa fa-twitter"></i>
                            <div id="twitter_share">
                                <a href="https://twitter.com/share?related=partysenseapp&text=I'm%20editing%20a%20collaborative%20playlist%20on%20partysen.se"
                                   target="_blank">
                                    Share on twitter
                                </a>
                            </div>
                        </li>
                        <li>
                            <i class="fa-li fa fa-google-plus"></i>

                            <a href="https://plus.google.com/share?url=http://partysen.se{% url "event:detail" event.pk event.slug %}"
                               onclick="window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                Share on Google+
                            </a>

                        </li>

                        <li onclick="document.getElementById('eventURL').select();">
                            <i class="fa-li fa fa-link"></i>
                            <div>
                                 <input type="text" id="eventURL" class="input-block-level" readonly="readonly"
                                   title="share event with others by copying this link"
                                   style="cursor:default;"
                                   value="http://partysen.se{% url "event:detail" event.pk event.slug %}"/>
                                Share this link to collaborate on the playlist.
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

		  <div class="panel panel-default accordian-panel hidden-xs">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#import">
			  <button class="panel-heading accordion-heading btn btn-block btn-primary">
				Import Recent Music
			  </button>
			</a>
			<div id="import" class="panel-collapse collapse">
			  <div class="panel-body">
				<div ng-include src="recentTracksTemplate"></div>
			  </div>
			</div>
		  </div>
		  <div class="panel panel-default accordian-panel hidden-xs">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#events">
			  <button class="panel-heading accordion-heading btn btn-block btn-primary">
				Your Events
			  </button>
			</a>
			<div id="events" class="panel-collapse collapse">
			  <div class="panel-body">
				
                {% if upcoming_events %}
                    <h3>Upcoming</h3>
                    <ul id="upcomingEvents">
                    {% for e in upcoming_events %}
                        <li>{{ e.dj }}'s <a href="{% url "event:detail" e.pk e.slug %}">{{e.title}}</a> on {{ e.start_time|naturalday }}</li>
                    {% endfor %}
                    </ul>
                    <form action="{% url "event:create" %}">
                        <button class="btn btn-primary btn-block">Host your next event now!</button>
                    </form>
                {% endif %}
                {% if past_events %}
                    <hr>
                    <h3>Recent</h3>
                    <ul>
                    {% for e in past_events %}
                         <li>{{ e.dj }}'s <a href="{% url "event:detail" e.pk e.slug %}">{{e.title}}</a> at {{ e.location.name }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <div ng-hide="loggedIn">
                        <p>Login to see your events!</p>
                    </div>
                {% endif %}

			  </div>
			</div>
		  </div>
		</div>
	</div>

{#{% endcache %}#}
{% block event_content %}
    Nothing to see here....
{% endblock %}

</div>
{% endblock %}

{% block jslibs %}
{# Rate limit a user to one full page load every 20 seconds #}
  {% cache 20 eventdata event.pk user.pk %}
  {% compress js %}
    <script>
        var lastfm = "http://ws.audioscrobbler.com/2.0/?method=track.getInfo&api_key={{ LAST_FM_API_KEY }}&format=json";
        var ps = {
            event: {{ event.pk }},
            numberOfTracks: {{ number_of_tracks }},
            eventTitle: "{{ event.title }}",
            eventPast: {% if event.past_event %} true {% else %} false {% endif %},
            LAST_FM_API_KEY: "{{ LAST_FM_API_KEY }}",
            recentTracks: [
            {% for track in recent_tracks %}
                {
                    name: "{{ track.name|safe }}",
                    artist: "{{ track.artist|safe }}",
                    spotify_url: "{{ track.spotify_url|safe|escape }}"
                },
            {% endfor %}
            ],
            loggedIn: {% if user.is_authenticated %} true {% else %} false {% endif %},
            setlist: {{ setlist|safe|escape }}
        };
    </script>
  {% endcompress %}
  {% endcache %}
    <script src="https://apis.google.com/js/plusone.js"></script>
  {% compress js %}
    <script src="{% static "js/filters.js" %}"></script>
    <script src="{% static "js/services.js" %}"></script>
    <script src="{% static "js/directives.js" %}"></script>
    <script src="{% static "js/partysense.js" %}"></script>

    <script>
        $(document).ready(function() {
            if(location.hash){
                $('.in.collapse').collapse();
                $("#" + location.hash.slice(2) + '.collapse').collapse('show')
            }


            $.ajaxSetup({ cache: true });
            $.getScript('//connect.facebook.net/en_US/all.js', function () {
                //FB.init({ appId: '386541278102635', status: true });
                var fbActions = [
                    {
                        name: "Vote on setlist",
                        link: 'http://partysen.se{% url "event:detail" event.pk event.slug %}'
                    }
                ];

                $("#fb_event_share").click(function(){
                    // Publish a post on an event - requires publish permissions...
                    FB.login(function(response) {
                        if (response && response.status === "connected") {
                            FB.api('/{{ event.fb_event_id }}/feed', 'post',
                                {
                                    message: 'Tell us what music you want to hear:',
                                    link:                'http://partysen.se{% url "event:detail" event.pk event.slug %}',
                                    name:                '{{ event.title }} - Interactive Playlist',
                                    caption:             'Vote on the music to be played at {{ event.title }}!',
                                    description:         'Tell {{ event.dj.nickname }} what you want on the playlist for {{ event.title }}. '+
                                                         'So far there are ' + ps.numberOfTracks + ' tracks! Why not add some more.',
                                    picture:             'http://partysen.se{% static "images/fblink.png" %}',

                                    actions: fbActions
                                },
                                function(response) {

                                    if (!response || response.error) {
                                        alert('Sorry an error occurred: ' +  response.error.message);

                                    }
                                });
                        }

                    }, {scope: ['publish_actions', 'publish_stream']});
                });

                $("#fb_share").click(function(){
                    // Facebook post on users wall. Doesn't require permissions
                    FB.ui({
                            method:              'feed',
                            name:                '{{ event.title }} - Interactive Playlist',
                            caption:             'Vote on the music to be played at {{ event.title }}!',
                            description:         'Tell {{ event.dj.nickname }} what you want on the playlist for {{ event.title }}. '+
                                                 'So far there are ' + ps.numberOfTracks + ' tracks! Why not add some more.',
                            picture:             'http://partysen.se{% static "images/fblink.png" %}',
                            link:                'http://partysen.se{% url "event:detail" event.pk event.slug %}',
                            actions: fbActions,
                            properties: {
                                'Create your own interactive playlist': {text: 'www.partysen.se', href:'http://partysen.se{% url "event:create" %}'},
                                'Like us on facebook': {text: 'partysenseapp', href:'https://www.facebook.com/partysenseapp'}
                            }
                        },
                        function (response) {});
                });
            });

        });



    </script>
  {% endcompress %}

  {% block event_js %}
  {% endblock %}

  {% if event.location.latitude and event.location.longitude %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjOEItJV2ny3PQzAB6jeoQztOHvqBnQ_I&sensor=false"></script>
    {% compress js %}
      <script type="text/javascript">
      function initialize() {
        var loc = new google.maps.LatLng({{ event.location.latitude }}, {{ event.location.longitude }});

        var mapOptions = {
            center: loc,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true, // disable the overlay because we don't have room
            draggable: true
        };
        google.maps.visualRefresh = true;
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var my_point = new google.maps.Marker({
            position: loc,
            map: map,
            draggable: false
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      </script>
    {% endcompress %}
  {% endif %}
{% endblock %}