{% extends "base.html" %}
{% load humanize %}
{% load url from future %}

{% block title %}Partysense - Privacy Policy{% endblock %}


{% block style %}

{% endblock %}

{% block content %}
  <div class="row">

    <div class="col-md-12 well">
        <h1>Privacy Policy</h1>
        <h3 class="muted">Guiding Principles</h3>
        <p>Partysen.se respects your privacy and will not ever share personally identifiable
           information about you to any third party.</p>
        <p>We aim to provide online collaborative music playlists. To achieve that we stand on the shoulders
        of giants. Specifically Facebook, Spotify and Lastfm.</p>
        <h3>What do we share, and with whom?</h3>
        <p>To create the best party environment possible, we show the host all of the tracks that
        have been added to an event, as well as all of the votes on those tracks.</p>
        <p>We don't ever display <em>who</em> voted on a particular track. Nor do we ever display
        who added a particular track to an event.</p>
        <p>In the future we plan to show non-identifying information about the most popular music to clubs.
        This will always be in the aggregate form - statistics created with information from all of our
        users.</p>
        <h3>Information from Facebook</h3>
        <p>To allow a seamless experience partysen.se can use a facebook login for authentication. We ask
           for standard permission as well as the ability to see your music. This music information is not
           cached or recorded. Your music data is requested from facebook purely to provide a list of music
           you may want to add to an event.</p>
        <p>At this stage we have no plans to post information back
           to facebook, if that changes we will always explicitly ask the user first.</p>
        <h3>Information from Spotify</h3>

        <blockquote>This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by
           Spotify. Spotify is the registered trade mark of the Spotify Group.
           <a href="https://developer.spotify.com/technologies/web-api/terms-of-use-non-us/"
                                                                                  class="muted">Spotify Metadata terms of use</a>.
        </blockquote>
        <p>We use Spotify extensively to provide relevant search results, and to preview the setlist, you do not need
            a Spotify account to use this service.</p>
        <p>If you import music from Spotify into an event, we treat it as if the music was added any other way (e.g. from the search or
        recent tracks).</p>
        <h3>Information from last.fm</h3>
        <p>We plan to implement importing of music, as well as music suggestions using the last.fm service.</p>

    </div>
  </div>

{% endblock %}

{% block jslibs %}

{% endblock %}