{% extends "event/event_base_template.html" %}
{% load humanize %}
{% load url from future %}
{% load staticfiles %}
{% load compress %}

{% block event_content %}
    <div class="col-md-6 col-sm-8">

        {% if event.dj.user == user %}
            <a class="btn btn-block btn-primary panel-heading accordion-heading "
               href="{% url "event:stats" event.pk event.slug %}">
                <i class="icon-signal"></i> Event Analytics
            </a>
        {% endif %}

        <section>

            {% if not user.is_authenticated %}
                <a class="btn btn-primary btn-block btn-large" href="{% url "auth:password_login" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
                    Login to vote on the music!
                </a>
            {% endif %}

          {% if event.user_editable or event.dj.user == user %}
            <div>
                <div ng-include src="resultListTemplate"></div>
            </div>
          {% endif %}

            <div id="setlist">
                <div>
                    <div ng-include src="setlistTemplate"></div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-3 col-sm-0 hidden-xs hidden-sm" id="spotify-panel" >
        <div>
            <div ng-include src="previewTemplate"></div>
        </div>

        <div id="GoogleAdvert">
            {% if False %}
            <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

            <ins class="adsbygoogle"
                 style="display:inline-block;width:300px;height:250px"
                 data-ad-client="ca-pub-6160731913142438"
                 data-ad-slot="5621308889"></ins>
            <script>

            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {% endif %}
        </div>

     </div>
{% endblock %}

{% block event_js %}
    {% compress js %}
        <script src="{% static "js/event_controllers.js" %}"></script>
    {% endcompress %}
{% endblock %}



