{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% block content %}

    <section class="span11">


    <h2>Tell us about this gig {{ user.dj_set.get.nickname }}</h2>

    <div class="progress">
      <div class="bar" style="width: 66%;"></div>
    </div>

<form method="post" action="" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {% include "form_snippet.html" %}

    <br style="clear:left;">

    <input type="submit" value="Submit" />
</form>
    </section>


{% endblock %}

{% block jslibs %}

<script type="text/javascript">

</script>

{% endblock %}