{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% load compress %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet" href="{% static "lib/datepicker/css/datepicker.css" type="text/css" %}"

    <section class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

        <h2>Tell us about this event {{ dj.nickname }}</h2>
        {% include "form_snippet.html" %}

    </section>


{% endblock %}

{% block jslibs %}
    {% compress js %}
        <script src="{% static "lib/datepicker/js/bootstrap-datepicker.js" %}"></script>
    {% endcompress %}

    <script type="text/javascript">
        var e = document.getElementById("id_start_time_0");
        if (e && e.type === "text") {
            // No native date picker support :(
            // Use bootstrap-datepicker to create one,
            // then dynamically replace that <input> element.
            console.log("Adding datepicker support");
            $("#id_start_time_0").datepicker({format: "yyyy-mm-dd"});
          }



    </script>

{% endblock %}