{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% load compress %}
{% load staticfiles %}
{% block content %}

    <section class="span12">

    <h2>Tell us about this gig {{ user.dj_set.get.nickname }}</h2>

    <div class="progress">
      <div class="bar" style="width: 66%;"></div>
    </div>

    <form method="post" action="" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% include "form_snippet.html" %}

        <br style="clear:left;">

        <input type="submit" value="Submit" />
    </form>
    </section>


{% endblock %}

{% block jslibs %}
    {% compress js %}
        <script src="{% static "lib/datepicker/js/bootstrap-datepicker.js" %}"></script>
    {% endcompress %}

    <script type="text/javascript">
        var e = document.getElementById("id_start_time_0");
        if (e && e.type === "text") {
            // No native date picker support :(
            // Use bootstrap-datepicker to create one,
            // then dynamically replace that <input> element.
            console.log("Adding datepicker support");
            $("#id_start_time_0").datepicker({format: "yyy-mm-dd"});
          }



    </script>

{% endblock %}