<div id="search" ng-controller="SpotifyCtrl" ng-show="loggedIn">
    <div class="row-fluid">
        <form class="input-append span12" ng-submit="doSearch(true)">

            <input class="form-search" type="search"
                   ng-model="searchTerm"
                   ng-change="doSearch(false)"
                   results="10"
                   placeholder="Search for music to add"
                   autofocus autocomplete="off">
            <button class="btn btn-primary" ng-show="spotifyResult.tracks" type="button" ng-click="clear()">Clear</button>
        </form>
    </div>

    <div class="alert fade in" ng-show="msg" ng-class="msgClass">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong ng-model="msg">{{ msg }}</strong>
    </div>

    <div class="alert fade in" ng-show="correction">
        Did you mean <b><a ng-click="searchTerm=correction; doSearch(true);"
                           href="#">{{ correction }}</a></b>?
    </div>

    <div ng-class="scrollableClass" class="row-fluid">
        <table class="table my-hover" ng-show="spotifyResult.tracks">
            <thead><tr><th>Track</th><th>Artist</th></tr></thead>
            <tbody>
                <tr ng-repeat="track in spotifyResult.tracks | limitTo:100 | removeAddedTracks"
                    ng-hide="track.added">
                    <td class="track-name span6" ng-click="addTrack(track); track.added=true;">
                        <span>
                            <i ng-hide="track.added" class="icon-plus icon-white"></i>
                            {{track.name}}
                        </span>
                    </td>
                    <td class="track-artist span6" ng-click="searchArtist(track.artists[0]);">
                        <span>
                            <i class="icon-search"></i> {{track.artists[0].name}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

