<div id="search" ng-controller="SpotifyCtrl" ng-show="loggedIn">

    <form class="input-append" ng-submit="doSearch(true)">
        <input class="form-search" type="search"
               ng-model="searchTerm"
               ng-change="doSearch(false)"
               results="10"
               placeholder="Search for music to add"
               autofocus autocomplete="off">
        <button class="btn" type="button" ng-click="clear()">Clear</button>
    </form>

    <div class="alert fade in" ng-show="msg" ng-class="msgClass">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{{ msg }}</strong>
    </div>

    <div class="alert fade in" ng-show="correction">
        Did you mean <b><a ng-click="searchTerm=correction; doSearch(true);"
                           href="#">{{ correction }}</b></em>?
    </div>

    <div ng-class="scrollableClass">
        <table class="table my-hover" ng-show="spotifyResult.tracks">
            <thead><tr><th>Track</th><th>Artist</th></tr></thead>
            <tbody>
                <tr ng-repeat="track in spotifyResult.tracks | removeAddedTracks | limitTo:50"
                    ng-hide="track.added">
                    <td class="track-name" ng-click="addTrack(track); track.added=true;">
                        <span>
                            <i ng-hide="track.added" class="icon-plus icon-white"></i>
                            {{track.name}}
                        </span>
                    </td>
                    <td class="track-artist" ng-click="searchArtist(track.artists[0])">
                        <span>
                            <i class="icon-search"></i> {{track.artists[0].name}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

