<h2 xmlns="http://www.w3.org/1999/html">Create Offer</h2>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            Offer Type:<br>
            <select ng-model="offer">
                <option value="241">Two For One</option>
                <option value="happy-hour">Happy Hour</option>
                <option value="quiz">Quiz Night</option>
                <option value="loyalty">Loyalty</option>
            </select>
        </div>
        <div class="span3">
            Blurb:<br>
            <input ng-model="blurb"><br>
            Description:<br>
            <textarea ng-model="desc" rows="4"></textarea>
        </div>
        <div class="span5">
            Preview:<br>
            <img src="/images/phones.png">
        </div>
    </div>
</div>