django>=1.5.4
fabric
python-openid
oauth2
python-social-auth
beautifulsoup4
lxml
psycopg2
python-amazon-product-api
html5lib
South
psutil
django-qsstats-magic
django-bigbrother
django-braces
django-compressor
django-debug-toolbar
python-memcached
django-memcache-status
django-registration
django-registration-email
django-countries
django-crispy-forms

