django>=1.5
python-openid
oauth2
pillow
python-social-auth
django-braces
beautifulsoup4
lxml
html5lib
django-compressor
django-debug-toolbar
python-memcached
django-memcache-status
django-registration
django-registration-email
django-countries
django-crispy-forms
