django==1.5.5
python-openid==2.2.5
oauth2==1.5.211
python-social-auth==0.1.17
beautifulsoup4==4.3.2
python-amazon-product-api==0.2.6
html5lib==1.0b1
South==0.8.2
psutil==1.2.1
django-qsstats-magic==0.7.2
django-bigbrother==0.4.2
django-braces==1.2.2
django-compressor==1.3
django-debug-toolbar==0.9.4
python-memcached==1.53
django-memcache-status==1.1
django-registration==1.0
django-registration-email==0.7.1
django-countries==1.5
django-crispy-forms==1.4.0
django-tastypie==0.11.0
